# Environment variables
forecast/.env

# Virtual environment
myenv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django database
db.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python environment files
.python-version

# VS Code settings (optional)
.vscode/


# Python environment files
.python-version